<h1>Show Todolist</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @todolist.description %>
  </li>
    <%= for item <- @todolist.items do %>
    <li><%= item.name %></li>
    <% end %>
</ul>


<span><%= link "Back", to: Routes.todolist_path(@conn, :index) %></span>